<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../plugins/vue2.6.10.js"></script>

    <style>
      #app {
          padding: 100px;
      }

      .item {
          padding: 10px;
      }
    </style>
</head>
<body>
    <div id="app">
        <div class="item">
            <label for="">数值</label>
            <input type="number" placeholder="请输入数字" v-model="input">
        </div>
        <div class="item">
            <label for="">小数点</label>
            <input type="number" placeholder="请输小数点" v-model="decimal">
        </div>
        <button @click="changeHandle">四舍五入</button>
        <span>结果:  {{result}}</span>
    </div>
</body>
<script>
var app = new Vue({
    el:'#app',
    data:{
        input:0,
        decimal:2,
        result:''
    },
    created: function(){
       
    },
    methods:{
        changeHandle:function (){
            this.result = this.toFixed(this.input,this.decimal);
        },
        toFixed(num,decimal){
            if(isNaN(num)){
                return 0;
            }
            var strnum = num+'';
            var arr = strnum.split('.');
            if(arr.length<2){
                return num.toFixed(decimal);
            }

            strnum = arr.join('');

            var strnum2 = strnum.slice(0,-1)+'.'+strnum.slice(-1);

            var result = Math.round(strnum2-0)+'';

            return result.slice(0,-decimal)+'.'+result.slice(-decimal)
        }
    }
})
</script>
</html>